<h3>Post Form</h3>

<%= form_for(@post) do |el| %>
  <label>Post title:</label><br>
  <%= el.text_field :title %><br>
  <label>Post Description</label><br>
  <%=el.text_area :description %><br>
  <%= el.submit%>
<%end%>
